/* Place your CSS styles in this file */

body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: "Concert One", sans-serif;
    font-style: normal;
}
h2(
    font-weight: 300;
)
input{
    color: rgb(40, 40, 40);
    border-radius: 10px;
    background-color: rgb(40, 40, 40);
    transition: all 500ms linear;
}
input:hover{
    color: white;
    border-radius: 5px;
    background-color: rgb(46, 46, 46);
    transition: all 500ms linear;
}
